/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav{
  background-color: #D1EAED;
}
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #20B2AA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#grad1 {
    height: 80px;
    background: -webkit-linear-gradient(rgba(144,238,144,0), rgba(144,238,144,1)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(144,238,144,0), rgba(144,238,144,1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(144,238,144,0), rgba(144,238,144,1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(32,178,170,0), rgba(32,178,170,1)); /* 标准的语法（必须放在最后） */
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.stock-title {
  font-size: 1.64rem;
  line-height: 110%;
  margin: .82rem 0 .656rem 0;
  font-weight: 400;
}